<!--
/*
 * Galleon Copyright (C) 2016 Fatih.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fs.galleon">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <!-- if we have this permission -->
  <uses-permission android:name="android.permission.CALL_PHONE" />


  <uses-feature android:name="android.hardware.camera"
                android:required="true" />
  <!-- TODO for M or above API implement permissions... -->

  <application
      android:allowBackup="true"
      android:name=".GalleonApplication"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:hardwareAccelerated="true"
      android:theme="@style/AppTheme">

    <activity
        android:name=".views.LoginActivityView"
        android:screenOrientation="portrait"
        android:configChanges="orientation|screenSize|keyboard">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <activity android:name=".views.MainActivityView"
              android:screenOrientation="portrait"
              android:configChanges="orientation|screenSize|keyboard"
              android:launchMode="singleTop">

      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>

      <meta-data
          android:name="android.app.default_searchable"
          android:value=".views.MainActivityView" />

      <meta-data
          android:name="android.app.searchable"
          android:resource="@xml/searchable" />

    </activity>

    <activity android:name=".views.PdfActivityView"
              android:screenOrientation="portrait"
              android:configChanges="orientation|screenSize|keyboard">

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="application/pdf"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="file"/>
        <data android:mimeType="*/*"/>
        <data android:pathPattern=".*\\.pdf"/>
        <data android:host="*"/>
      </intent-filter>

    </activity>

    <activity android:name=".views.CustomerDetailActivityView"
              android:screenOrientation="portrait"
              android:configChanges="orientation|screenSize|keyboard" />

    <provider android:authorities="org.fs.galleon.fileprovider"
              android:name="android.support.v4.content.FileProvider"
              android:exported="false"
              android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

  </application>

</manifest>
